USE [master]
GO
/****** Object:  Database [Challenge]    Script Date: 4/4/2021 20:57:14 ******/
CREATE DATABASE [Challenge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Challenge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Challenge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Challenge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Challenge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Challenge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Challenge]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/4/2021 20:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 4/4/2021 20:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](max) NOT NULL,
	[NroRut] [int] NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Pais] [nvarchar](max) NOT NULL,
	[Ciudad] [nvarchar](max) NOT NULL,
	[CodigoPostal] [int] NOT NULL,
	[Zona] [int] NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Fax] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Web] [nvarchar](max) NULL,
	[SeguroTransitos] [int] NOT NULL,
	[SeguroTransitoCargaSuelta] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoOtorgados]    Script Date: 4/4/2021 20:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoOtorgados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermisoId] [int] NULL,
	[UsuarioId] [int] NULL,
 CONSTRAINT [PK_PermisoOtorgados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 4/4/2021 20:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/4/2021 20:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Clienteid] [int] NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210331181932_initial', N'3.1.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210401140616_migration2', N'3.1.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210401140810_migration3', N'3.1.13')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id], [RazonSocial], [NroRut], [Direccion], [Pais], [Ciudad], [CodigoPostal], [Zona], [Telefono], [Fax], [Email], [Web], [SeguroTransitos], [SeguroTransitoCargaSuelta], [Activo]) VALUES (3, N'Ro.SA', 21321323, N'garcia pintos 1123', N'Uruguay', N'Montevideo', 11800, 2, N'22093221', N'220391133', N'abs@gmail.com', N'www.roaderon.com', 1, 3, 1)
INSERT [dbo].[Clientes] ([id], [RazonSocial], [NroRut], [Direccion], [Pais], [Ciudad], [CodigoPostal], [Zona], [Telefono], [Fax], [Email], [Web], [SeguroTransitos], [SeguroTransitoCargaSuelta], [Activo]) VALUES (4, N'Roadeon.ltda', 2323131, N'23123', N'Albania', N'322', 3213, 1, N'32432244', N'24345344', N'huelmojuan@gmail.com', N'aliba.com.uy', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[PermisoOtorgados] ON 

INSERT [dbo].[PermisoOtorgados] ([Id], [PermisoId], [UsuarioId]) VALUES (17, 1, 7)
INSERT [dbo].[PermisoOtorgados] ([Id], [PermisoId], [UsuarioId]) VALUES (18, 2, 7)
INSERT [dbo].[PermisoOtorgados] ([Id], [PermisoId], [UsuarioId]) VALUES (19, 3, 7)
SET IDENTITY_INSERT [dbo].[PermisoOtorgados] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([Id], [Name], [Description]) VALUES (1, N'ListadoDeUsuarios', N'Permiso para ver los usuarios en el sistema')
INSERT [dbo].[Permisos] ([Id], [Name], [Description]) VALUES (2, N'AltaUsuario', N'Permiso para dar de alta usuarios')
INSERT [dbo].[Permisos] ([Id], [Name], [Description]) VALUES (3, N'ModificacionUsuario', N'Permiso para modificar usuarios existentes en el sistema')
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Descripcion], [UserName], [Password], [Clienteid], [Email], [Nombre]) VALUES (5, N'empleado3 permiso Alta Usu y Modificacion Usu', N'Empleado3', N'12345678', 3, N'fm@da.com.uy', N'empleado3')
INSERT [dbo].[Usuarios] ([Id], [Descripcion], [UserName], [Password], [Clienteid], [Email], [Nombre]) VALUES (7, N'empleado 1 - Tiene permiso a todo ', N'Empleado1', N'12345678', 3, N'empleado1@gmail.com', N'empleado1')
INSERT [dbo].[Usuarios] ([Id], [Descripcion], [UserName], [Password], [Clienteid], [Email], [Nombre]) VALUES (8, N'empleado 2 - Tiene permiso a todo menos Listado Usuarios ', N'Empleado2', N'12345678', 4, N'empleado2@gmail.com', N'empleado2')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_PermisoOtorgados_PermisoId]    Script Date: 4/4/2021 20:57:15 ******/
CREATE NONCLUSTERED INDEX [IX_PermisoOtorgados_PermisoId] ON [dbo].[PermisoOtorgados]
(
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PermisoOtorgados_UsuarioId]    Script Date: 4/4/2021 20:57:15 ******/
CREATE NONCLUSTERED INDEX [IX_PermisoOtorgados_UsuarioId] ON [dbo].[PermisoOtorgados]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Clienteid]    Script Date: 4/4/2021 20:57:15 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Clienteid] ON [dbo].[Usuarios]
(
	[Clienteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[PermisoOtorgados]  WITH CHECK ADD  CONSTRAINT [FK_PermisoOtorgados_Permisos_PermisoId] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permisos] ([Id])
GO
ALTER TABLE [dbo].[PermisoOtorgados] CHECK CONSTRAINT [FK_PermisoOtorgados_Permisos_PermisoId]
GO
ALTER TABLE [dbo].[PermisoOtorgados]  WITH CHECK ADD  CONSTRAINT [FK_PermisoOtorgados_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[PermisoOtorgados] CHECK CONSTRAINT [FK_PermisoOtorgados_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Clientes_Clienteid] FOREIGN KEY([Clienteid])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Clientes_Clienteid]
GO
USE [master]
GO
